	* { 
		box-sizing: border-box; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-size: 16px;
		font-weight: 200;
		font-family: Helvetica Nue, Arial;
		outline: none;
	}

	a {
		cursor: pointer;
		display: inline-block; }

	body {
		border-top: 15px solid #CCC; }

	.main {
		max-width: 900px;
		margin: 0 auto;
		padding: 15px; }

	section {
		display: block; }

	h1 {
		font-size: 24px;
		margin: 10px 0 20px 0;
		text-align: center; }

	h1.logo {
		text-align: center; }

	h1.logo img {
		max-height: 100px; }

	.button-group {
		display: -webkit-flex;
  		display: flex;
  		margin-bottom: 10px; }

  	h2 {
  		font-size: 20px;
  		margin-bottom: 10px; }

	.button-group .btn,
	.button-group .btn {
		border-radius: 0;
		background: #666;
		border: 0;
		color: white;
		flex: 1;
		margin-right: 10px;
		line-height: 60px;
		text-align: center;
		text-decoration: none;
		border-radius: 2px;
		cursor: pointer;
		width: 100%; }

	.button-group .btn.red-btn {
		background: #cc3333; }

	.button-group .btn.gold-btn {
		background: #cc9933; }

	.button-group .btn.blank-btn {
		background: transparent;
		color: inherit; }

	.button-group .btn:last-child {
		margin-right: 0; }
	
	p { 
		text-align: center;
		margin-bottom: 15px;
		line-height: 20px; }

	p.callout {
		font-size: 20px;
		padding: 30px 15px;
		margin-bottom: none;
		line-height: inherit;
		font-weight: 400;
		color: #666;
		font-size: 42px; }

	p.disclaimer {
		font-size: 11px;
		padding: 15px;
		text-align: left; }

	.dynamic {
		display: none; }

	.footer {
		border-top: 1px solid #DDD;
		border-bottom: 6px solid #cc3333;
		margin-top: 80px; }

	.footer p {
		font-size: 10px; }

	form ul {
		list-style: none; }

	form ul li {
		padding: 5px 0; }

	form input,
	form select,
	form textarea {
		width: 100%;
		display: block;
		padding: 15px;
		font: inherit;
		border-radius: 2px;
		border: 1px solid #CCC; }

	form select {
		height: 50px; }

	form .button-group .btn {
		line-height: 44px; }

	table {
		width: 100%; }

	table tr td { 
		padding-right: 10px; }

	table tr td:last-child { 
		padding-right: 0; }

	table thead th {
		text-align: left; }

	table thead th:last-child {
		width: 120px; }

	tr td:first-child {
		width: 44px;
		text-align: center; }

	tr:first-child .delete-row {
		display: none; }

	#contributions .total-row td { 
		padding: 10px 10px 10px 0; }

	.total-row td:nth-child(2) {
		font-size: 20px;
		text-align: right; }

	.total-row td:last-child {
		font-size: 20px;
		font-weight: bold; }

	#contributions tr:last-child td:first-child {
		text-align: left;
		padding: 10px 0; }


	.amount-given {
		padding: 3px 6px;
		background: #cc9933;
		border-radius: 3px;
		color: white;
	}

	@media (max-width: 768px) { 

		* {
			font-size: 15px; }

		body {
			border-top: none; }

		section.top {
			background: white;
			height: 44px;
			border-bottom: 1px solid #eee; }

		section.top h1 {
			margin: 0;
			line-height: 43px;
			color: #333;
			font-size: 15px; }

		.button-group.stacked {
			display: block; }

		p.callout {
			font-size: 28px;
			padding: 30px 15px 20px; }

		.footer {
			margin-top: 50px; }

	}