* {
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border: none;
  /*-webkit-user-select: none;
  -webkit-touch-callout: none !important;*/
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica Neue, Helvetica, Tahoma, Arial;
  outline: none; }

/** GLOBAL **/
html,
body {
  height: 100%;
  width: 100%;
  background: white;
  overflow: hidden;
  display: block; }

header {
  height: 43px;
  border-bottom: 1px solid #a0a0a0;
  top: 0;
  z-index: 10;
  position: relative;
  background-color: white; }
  header * {
    line-height: 43px;
    display: block; }
  header h1 {
    font-size: 17px;
    color: black;
    font-weight: 600;
    width: 100%;
    text-align: center; }
  header *:first-child:not(h1),
  header h1 ~ * {
    background-color: transparent;
    display: block;
    position: absolute;
    height: 100%;
    min-width: 40px;
    top: 0;
    color: #007aff;
    -webkit-transition: right 5s ease 500s;
    padding: 0 4px;
    text-decoration: none; }
  header *:first-child:not(h1) {
    left: 6px; }
  header h1 ~ * {
    right: 6px; }

#viewport {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: block; }

section {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: block;
  right: -100%;
  z-index: 1; }
  section .view {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: block;
    padding-bottom: 43px; }
  section.slide {
    right: 0;
    transition: right 300ms ease-in-out;
    -webkit-transition: right 300ms ease-in-out;
    z-index: 100;
    position: relative; }
  section.shift {
    right: 0;
    transition: right 300ms ease-in-out;
    -webkit-transition: right 300ms ease-in-out;
    z-index: 100; }
  section.show {
    right: 0; }
  section.hide {
    display: none; }
  section.reveal {
    right: -280px;
    transition: right 300ms ease-in-out;
    -webkit-transition: right 300ms ease-in-out;
    -moz-box-shadow: 3px 0px 3px 4px #CCC;
    -webkit-box-shadow: 3px 0px 3px 4px #CCC;
    box-shadow: 3px 0px 3px 4px #CCC; }

form ul,
.tableview ul {
  background: #fff;
  padding-left: 15px;
  margin: 0;
  overflow: hidden; }
  form ul > li,
  .tableview ul > li {
    padding: 16px 15px 16px 0;
    list-style: none;
    border-bottom: 1px solid #c8c8c8;
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW, Chrome 21+ */
    display: box;
    display: flex;
    width: 100%; }
    form ul > li:last-of-type,
    .tableview ul > li:last-of-type {
      border-bottom: none; }
    form ul > li *,
    .tableview ul > li * {
      font: inherit; }
    form ul > li input,
    form ul > li select,
    form ul > li textarea,
    .tableview ul > li input,
    .tableview ul > li select,
    .tableview ul > li textarea {
      font: inherit;
      display: block;
      -webkit-box-flex: 1;
      box-flex: 1;
      flex: 1;
      white-space: nowrap;
      width: 100%;
      color: #777777;
      -webkit-appearance: none; }
    form ul > li textarea,
    .tableview ul > li textarea {
      white-space: normal;
      min-height: 55px; }
    form ul > li button,
    .tableview ul > li button {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      background: white;
      background: #007aff;
      color: #fff;
      border: none;
      display: block;
      font-weight: 100;
      font-size: 22px; }
    form ul > li > label,
    .tableview ul > li > label {
      margin-right: 10px;
      text-align: left;
      min-width: 100px; }
form h2,
.tableview h2 {
  padding: 10px 15px;
  color: #4d4d4d;
  border-bottom: none;
  height: initial;
  text-transform: uppercase; }
  form h2:first-of-type,
  .tableview h2:first-of-type {
    margin-top: 25px; }
form.grouped,
.tableview.grouped {
  background-color: #e5e5e5; }
  form.grouped ul,
  .tableview.grouped ul {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 30px; }
    form.grouped ul:first-of-type,
    .tableview.grouped ul:first-of-type {
      border-top: none; }
    form.grouped ul:last-of-type,
    .tableview.grouped ul:last-of-type {
      margin-bottom: 0; }
  form.grouped ~ footer,
  .tableview.grouped ~ footer {
    margin-top: -30px; }
form footer,
.tableview footer {
  padding: 10px 15px;
  color: #4d4d4d;
  border-bottom: none;
  height: initial;
  border-top: none;
  text-align: center; }

.modal {
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 99;
  height: 100%;
  top: 100%;
  display: block; }
  .modal.show {
    top: 0;
    transition: top 200ms ease-in-out;
    -webkit-transition: top 300ms ease-in-out; }
  .modal.hide {
    top: 100%;
    transition: top 200ms ease-in-out;
    -webkit-transition: top 300ms ease-in-out; }
  .modal.shift {
    right: 100%;
    transition: right 1s ease-in-out;
    -webkit-transition: right 1s ease-in-out;
    z-index: 100; }

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: block;
  z-index: 0;
  left: -20px; }
  #menu li {
    padding: 0; }
  #menu a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    padding: 14px 0; }
  #menu.focus {
    left: 0;
    transition: left 300ms ease-in-out;
    -webkit-transition: left 300ms ease-in-out; }
  #menu.side-menu {
    background-color: #333; }
  #menu.tableview {
    background-color: transparent; }
    #menu.tableview li {
      border-bottom: 1px solid #ddd; }

.post {
  background: #fff;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  -moz-box-shadow: 0px 1px 7px #ddd;
  -webkit-box-shadow: 0px 1px 7px #ddd;
  box-shadow: 0px 1px 7px #ddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  display: block; }
  .post h3 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px; }
    .post h3 small {
      display: block;
      color: #999; }
  .post .img {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 250px;
    margin-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .post .content {
    margin-bottom: 8px;
    color: #555; }
  .post .read-more {
    color: #007aff;
    text-decoration: none; }
