* {
	margin: 0;
	padding: 0;
	font-weight: 200;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	border: none;
	/*-webkit-user-select: none;
	-webkit-touch-callout: none !important;*/
	-webkit-text-size-adjust: 100%;
	font-family: Helvetica Neue, Helvetica, Tahoma, Arial; 
	outline: none;
}
	
/** GLOBAL **/
html,
body {
	height: 100%;
	width: 100%;
	background: white;
	overflow: hidden; 
	display: block;
}

header {

	height: 43px;
	border-bottom: 1px solid #a0a0a0;
	top: 0; 
	z-index: 10;
	position: relative;
	background-color: white;

	* {
		line-height: 43px;
		display: block;
	}

	h1 {
		font-size: 17px;
		color: black;
		font-weight: 600;
		width: 100%;
		text-align: center;
	}

	*:first-child:not(h1),
	h1 ~ * {
		background-color: transparent;
		display: block;
		position: absolute;
		height: 100%;
		min-width: 40px;
		top: 0;
		color: #007aff;
		-webkit-transition: right 5s ease 500s;
		padding: 0 4px; 
		text-decoration: none;
	}

	*:first-child:not(h1) {
		left: 6px; 
	}

	h1 ~ * {
		right: 6px; 
	}

}

#viewport{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden; 
	display: block;
}

section {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden; 
	display: block;
	right: -100%;
	z-index: 1;

	.view {
		background-color: #fff;
		width: 100%;
		height: 100%;
		position: relative;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: block;
		padding-bottom: 43px;
	}

	&.slide {
		right: 0;
		transition: right 300ms ease-in-out;
		-webkit-transition: right 300ms ease-in-out;
		z-index: 100;
		position: relative;
	}

	&.shift {
		right: 0;
		transition: right 300ms ease-in-out;
		-webkit-transition: right 300ms ease-in-out;
		z-index: 100;
	}

	&.show {
		right: 0;
	}

	&.hide {
		display: none;
	}

	&.reveal {
		right: -280px;
		transition: right 300ms ease-in-out;
		-webkit-transition: right 300ms ease-in-out;
		-moz-box-shadow:    3px 0px 3px 4px #CCC;
		-webkit-box-shadow: 3px 0px 3px 4px #CCC;
		box-shadow:         3px 0px 3px 4px #CCC;
	}
}

form,
.tableview { 

	ul {
		background: #fff;
		padding-left: 15px;
		margin: 0;
		overflow: hidden; 

		> li {
			padding: 16px 15px 16px 0;
			list-style: none;
			border-bottom: 1px solid #c8c8c8;
			display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
			display: -moz-box;      /* OLD: Firefox (buggy) */ 
			display: -ms-flexbox;   /* MID: IE 10 */
			display: -webkit-flex;  /* NEW, Chrome 21+ */
			display: box;
			display: flex;
			width: 100%; 

			&:last-of-type {
				border-bottom: none; 
			}

			* { font: inherit; }

			input,
			select,
			textarea {
				font: inherit;
				display: block;
				-webkit-box-flex: 1;
				box-flex: 1;
				flex: 1;
				white-space: nowrap;
				width: 100%;
				color: #777777; 
				-webkit-appearance: none;
			}

			textarea {
				white-space: normal;
				min-height: 55px; 
			}

			button {
				width: 100%; 
				text-align: center;
				padding: 10px 0;
				background: white;
				background: #007aff;
				color: #fff;
				border: none;
				display: block;
				font-weight: 100;
				font-size: 22px; 
			}

			> label {
				margin-right: 10px;
				text-align: left;
				min-width: 100px; 
			}

		}

	}

	h2 {
		padding: 10px 15px;
		color: #4d4d4d;
		border-bottom: none;
		height: initial;
		text-transform: uppercase; 

		&:first-of-type { 
			margin-top: 25px; 
		}

	}

	&.grouped {
		background-color: #e5e5e5; 

		ul {
			border-top: 1px solid #c8c8c8;
			border-bottom: 1px solid #c8c8c8;
			margin-bottom: 30px; 

			&:first-of-type {
				border-top: none; 
			}

			&:last-of-type {
				margin-bottom: 0; 
			}

		}

		~ footer {
			margin-top: -30px; 
		}

	}
		
	footer {
		padding: 10px 15px;
		color: #4d4d4d;
		border-bottom: none;
		height: initial;
		border-top: none; 
		text-align: center;
	}

}
		
.modal {
	width: 100%;
	position: absolute;
	background-color: white;
	top: 0;
	z-index: 99;
	height: 100%;
	top: 100%;
	display: block;

	&.show {
		top: 0;
		transition: top 200ms ease-in-out;
		-webkit-transition: top 300ms ease-in-out;
	}

	&.hide {
		top: 100%;
		transition: top 200ms ease-in-out;
		-webkit-transition: top 300ms ease-in-out;
	}

	&.shift {
		right: 100%;
		transition: right 1s ease-in-out;
		-webkit-transition: right 1s ease-in-out;
		z-index: 100;
	}

}

#menu {

	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: block;
	z-index: 0;
	left: -20px;

	li {
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
		display: block;
		width: 100%;
		padding: 14px 0;
	}

	&.focus {
		left: 0;
		transition: left 300ms ease-in-out;
		-webkit-transition: left 300ms ease-in-out;
	}

	&.side-menu {
		background-color: #333;
	}

	&.tableview {
		background-color: transparent;

		li {
			border-bottom: 1px solid #ddd;
		}

	}

}

.post {
	background: #fff;
	border: 1px solid #ddd;
	margin: 10px;
	padding: 10px;
	font-size: 14px;
	-moz-box-shadow:    0px 1px 7px #ddd;
	-webkit-box-shadow: 0px 1px 7px #ddd;
	box-shadow:         0px 1px 7px #ddd;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	display: block;
	
	h3 {
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 10px;

		small {
			display: block;
			color: #999;
		}

	}

	.img {
		overflow: hidden;
		display: block;
		width: 100%;
		height: 250px;
		margin-top: 5px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.content {
		margin-bottom: 8px;
		color: #555;
	}

	.read-more {
		color: #007aff;
		text-decoration: none;
	}
}
